<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>TextSmith</Name>
    <Version>1.1.0</Version>
    <Title>TextSmith</Title>
    <Publisher>SoftwareOnHand</Publisher>
    <StartMenuDir>TextSmith</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/TextSmith</TargetDir>
    <RunProgram>@TargetDir@/TextSmith</RunProgram>
    <RunProgramDescription>Run TextSmith</RunProgramDescription>
    <Background>background.png</Background>
    <WizardStyle>Mac</WizardStyle>
    <WizardShowPageList>false</WizardShowPageList>
    <StyleSheet>Style.qss</StyleSheet>
</Installer>
